<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Student Login</h1>
                    <strong>Login Anytime!</strong><hr >
                </div>


                <form [formGroup]="loginForm" (ngsubmit)="login()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" formControlName="email" placeholder="Enter the email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <small *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="text-danger">Email is required</small>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" formControlName="password" placeholder="Enter the password" class="form-control" id="exampleInputPassword1">
                      <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">Password is required</small>
                    </div>
                    <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">
                        Login
                    </button>
                </form>

                <a style="color:white;margin-top:10px;" routerLink="/signup">New user? Click here to signup</a>

            </div>

        </div>
    </div>

</div>
